#service_area{
    width: 100%;
    padding: 40px 0;
    h1{
        font-size: 45px;
        text-align: center;
        margin: 0 0 25px;
    }
    .container{
        width: 1140px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
    }
    .child_service{
        background: $primaryColor;
        text-align: center;
        padding: 40px 25px;
       flex: 1;
       &:nth-child(odd){
        background: $secondaryColor;
     }
     i{
        font-size: 35px;
        margin: 0 0 20px;
     }
    }
     
}
